# Server Configuration
PORT=3000
NODE_ENV=development # production for deployment

# Firebase Admin SDK Configuration
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYour private key here...\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=your-service-account-email@example.com
FIREBASE_DATABASE_URL=https://your-project-id.firebaseio.com
FIREBASE_STORAGE_BUCKET=your-project-id.appspot.com

# OpenAI API Configuration
OPENAI_API_KEY=your-openai-api-key

# CORS Configuration (Optional for production)
# ALLOWED_ORIGINS=https://your-frontend-domain.com,https://another-domain.com
